BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 120
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
SortIncludes: false
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
ContinuationIndentWidth: 2